name: Release

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Publish
      run: dotnet publish -c Release -r win-x64 --self-contained -p:PublishSingleFile=true -o release_drop

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Hex_Dumper
        path: release_drop/Hex_Dumper.exe

    - name: Create Release
      if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
      uses: softprops/action-gh-release@v1
      with:
        tag_name: continuous
        name: Continuous Release
        files: release_drop/Hex_Dumper.exe
        draft: false
        prerelease: true
        overwrite: true
